<% layout('layouts/boilerplate'); %>
<div class="mb-3 col-sm-10 offset-sm-1 p-sm-2 col-md-8 offset-md-2 col-lg-6 offset-md-lg">
    <h1 class="text-center">Edit Campground</h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="title">Title: &emsp;</label>
            <input class="form-control" type="text" placeholder="title" name="campground[title]" id="title" value="<%= campground.title %>" required >
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location &emsp;</label>
            <input class="form-control" type="text" placeholder="Location" name="campground[location]" id="location" value="<%= campground.location %>" required >
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>
        <div class="custom-file">
            <input type="file" name="image" class="custom-file-input" id="validatedCustomFile" multiple>
            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
            <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Price &emsp;</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="price">$</span>
                <input type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price" name="campground[price]" value="<%= campground.price %>" required >
              </div>
              <div class="valid-feedback">
                Looks Good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description &emsp;</label>
            <textarea placeholder="Camp Description" name="campground[description]" id="description" " class="form-control" required ><%= campground.description %></textarea>
            <div class="valid-feedback">
                Looks Good!
            </div>
        </div>   

        <% campground.images.forEach((image, index) => { %>
            <div class="mb-3 d-inline-block">
                <img class="img-fluid img-thumbnail mb-2" src="<%= image.thumbnail %>" alt="<%= image.filename %>">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="deleteImages[]" value="<%= image.filename %>">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Delete this Image?</label>
                </div>
            </div>
        <% }) %>
        <div class="mt-2">
            <button type="submit" class="btn btn-info">Update campground</button>
        </div>
        
    </form>
</div>