<% layout('layouts/boilerplate'); %>
<div class="row d-flex justify-content-center">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= campground.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= campground.location %></li>
              <li class="list-group-item">$ <%= campground.price %>/night</li>
              <li class="list-group-item">Submitted By - <%= campground.author.username %></li>
            </ul>
           
            <% if (currentUser && (campground.author.equals(currentUser))) { %>
            <div class="card-body">
              <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info ">Edit</a>
              <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post" class="d-inline">
                <button class="btn btn-danger">Delete</button>
            </form>
            </div>
            <% } %>
            <div class="card-footer text-muted">
                2 days ago
              </div>
          </div>
    </div>
    <% if (campground.review.length != 0) { %>
    <div class="col-6">
      <div class="mb-3">
        <% if (currentUser) { %>
        <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" novalidate class="validated-form">
          <h1>Leave a Review</h1>
          <!-- <div class="mb-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" name="rating" class="form-range" min="1" max="5" id="rating">
          </div> -->
          <fieldset class="starability-coinFlip">
            <legend>First rating:</legend>
            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
          <div class="mb-3">
            <label for="body" class="form-label">Review</label>
            <textarea name="body" id="body" cols="30" rows="3" class="form-control" required></textarea>
          </div>
          <div>
            <button class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
      <% } %>
      <% campground.review.forEach(review => { %>
        <div class="card mb-3 p-2">
            <h6 class="text-bold">Review by: <%= review.author.username %> </h6>
            <p class="starability-result" data-rating="<%= review.rating %>">
              Rated: 3 stars
            </p>
            <p class="">Review: <%= review.body %></p>
            <% if (currentUser && review.author.equals(currentUser)) { %>
            <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" class="my-2">
              <button class="btn btn-danger btn-small">Delete</button>
            </form>
            <% } %>
          </div>
          <% }) %>
        </div>
    </div>
    <% } %>
</div>
